{% extends 'trustrank/base.html' %}

{% block content %}

    <div class="row">
      <div class="col-lg-12">
         <h2> Statements </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 click-to-add">
        {% if request.user.is_authenticated %}
            <a href="{% url 'add_statement' %}">Add a statement</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a> to add statements
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <ul class="list-group">
          {% for object in object_list %}
             <li class="list-group-item">
               <a href="{{ object.get_absolute_url }}">{{ object }}</a>
             </li>
         {% endfor %}
        </ul>
      </div>
    </div>


{% endblock content %}
