{% extends 'trustrank/base.html' %}

{% block content %}

    <div class="row">
      <div class="col-lg-12">
         <h2> Profiles </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 click-to-add">
        {% if request.user.is_authenticated %}
            <a href="{% url 'add_claimant' %}">Add a claimant</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a> to add claimants
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <ul class="list-group">
          {% for object in object_list %}
             <li class="list-group-item">
               <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
               {% if object.member %}
                  <span class="label label-primary">Member</span>
               {% endif %}
               {% if object.claimant %}
                   <span class="label label-warning">Claimant</span>
               {% endif %}
             </li>
         {% endfor %}
        </ul>
      </div>
    </div>


{% endblock content %}
