{% extends 'trustrank/base.html' %}

{% block content %}

    <div class="row">
      <div class="col-lg-12 col-md-7 col-sm-6">
         <h2> Statements </h2>
         <a href="{% url 'add_statement' %}">Add a Statement</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-7 col-sm-6">
        <ul class="list-group">
          {% for object in object_list %}
             <li class="list-group-item">
               <a href="{{ object.get_absolute_url }}">{{ object }}</a>
             </li>
         {% endfor %}
        </ul>
      </div>
    </div>


{% endblock content %}
